.kontaktBanner {
  height: 50vh;
  background: url(../img/kontakt.jpg);
  background-position: 50% 5%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}
